doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title jQuery Basics
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 One
    h2 Two
    h3 Three
    p p-tag

    input#tb1(type='text')

    button#btn Click Me
    button#btn2 No Click me!
    button#btn3 Button 3
    button#btn4 Button 4
    button#btn5 Button 5
    button#btn6 Button 6
    button#btn7 change H3 to this color

    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
